<script>console.time('123');</script>
<script src="../js/vue.js"></script>
<script>console.timeEnd('123');</script>
<div id="app-2">
  <span >
    {{ msg + 1 }}
    <button v-on:click="reverseMessage">reverse message</button>
  </span>
  <p v-bind:style="styleObject">Computed Message: {{ reverseMsg + now }}</p>
</div>

<p id="demo" class="nav" v-bind:class="classObject">
  {{ fullName }}
  <template v-if="ok">
    <h1>title</h1>
    <p>paragraph 1</p>
    <p>paragraph 2</p>
  </template>
</p>

<div id="app3">
  <ul>
    <template v-for="item in items">
      <li>{{ item.message }}</li>
      <li class="divider">11</li>
    </template>
  </ul>
  <ul>
    <li v-for="(value,key) in people">{{ key }} : {{ value }}</li>
  </ul>
  <ul>
    <li v-for="n in num">{{ n }}</li>
  </ul>
</div>
<script>

  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'qwert',
      styleObject: {
        color: 'red',
        fontSize: 24
      }
    },
    methods: {
      reverseMessage: function() {
        this.message = this.message.split('').reverse().join('');
      }
    },
    computed: {
      reverseMsg: function() {
        return this.message.split('').reverse().join('');
      },
      now: function() {
        return Date.now();
      }
    }
  });

  var vm = new Vue({
    el: '#demo',
    data: {
      firstName: 'foo',
      lastName: 'bar',
      isActive: true,
      error: false,
      ok: true
    },
    computed: {
      fullName: {
        get: function() {
          return this.firstName + '' + this.lastName;
        },
        set: function(newValue) {
          var names = newValue.split('');
          this.firstName = names[0];
          this.lastName = names[names.length - 1];
        }        
      },
      classObject: function() {
        return {
          active: this.isActive && !this.error,
          'text-danger': this.error && this.error.type === 'faltal'
        };
      }
    }
  });

var app3 = new Vue({
  el: '#app3',
  data: {
    items: [
      { message: 'add' },
      { message: 'plus' }
    ],
    people: {
      firstName: 'karl',
      lastName: 'smith',
      age: 40
    },
    numbers: [ 1,2,3,4,5,6 ]
  },
  computed: {
    num: function() {
      return this.numbers.filter(function(number) {
        return number % 2 === 0;
      });
    }
  }
});
</script>