<meta charset="utf-8"> 
<script src="../js/vue.js"></script>

<div id="example1">
	<button v-on:click="greet">click</button>
  <p>按钮被点击了{{ counter }}次</p>
  <input v-model="message" placeholder="edit">
  <p>Message is: {{ message }}</p>
</div>

<div id="example2">
  <input type="radio" v-model="picked" v-bind:value="a">
  <p>you chose:{{ picked }}</p>

  <input type="checkbox" v-model="toggle">
  <p>you chose:{{ toggle }}</p>

  <select v-model="selected">
    <option v-bind:value="{ number: 123 }">ABC</option>
    <option>456</option>
  </select>
  <p>you chose:{{ selected }}</p>

  <input type="text" v-model.trim="msg">
  <p>test is: {{ msg }}</p>
</div>

<a v-on:click.stop='doThis'></a>

<a v-on:click.prevent='doThat'></a>

<a v-on:click.stop.prevent='doSomething'></a>

<form v-on:submit.prevent='onSubmit'></form>

<form v-on:submit.prevent></form>

<div v-on:click.self='doWhat'></div>

<input type="button" value="submit" v-on:keyup.enter="submit">



<script>
	var app1 = new Vue({
		el: '#example1',
		data: {
			name: 'vue.js',
      message: '',
      counter: 0
		},
    methods: {
      greet: function(e) {
        alert('hello '+this.name+'!');
        this.counter += 1;
        console.log(e.target.tagName);
      }
    }
	});

  var app2 = new Vue({
    el: '#example2',
    data: {
      picked: '',
      toggle: '',
      selected: '',
      a: '1',
      msg: ''
    }
  });
</script>